include ../_mixins/_mixins

block vars
    - title = '';
    - description = '';
    - keywords = '';
    - path = '';
    - mainClass = '';

doctype html
html.dark(lang='en')
    include ../_parts/_head
    body(data-bs-theme='dark')
        #app
            .body-container.d-flex.flex-column.min-vh-100
                main.main-container.flex-grow-1.py-4.border-top
                    block container

        script(
            src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js',
            integrity='sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz',
            crossorigin='anonymous'
        )
        block script
