extends ./_layouts/_default

block vars
    - mainClass = 'py-6';
    - title = 'Blog | Nodejs Boilerplate';
    - description = '';
    - keywords = '';
    - pageID = 'top';
    - path = '.';

block container
    +container('section')
        +headingPrimary('Blog list')
        +dFlex('-m-4')
            +dFlexItem({ padding: 'p-4', col: 'md:w-1/3' })
                +blogItem
            +dFlexItem({ padding: 'p-4', col: 'md:w-1/3' })
                +blogItem
            +dFlexItem({ padding: 'p-4', col: 'md:w-1/3' })
                +blogItem
